@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --background-color: #fbf2cf;
  --text-color: #000;
  --white-color: #fff;
  --second-color: #ef9a53;
  --span-color: #eb6440;
  --background-foto-color: #fcddb0;
}
.about {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .content img {
  height: auto;
  width: 600px;
  max-width: 100%;
}
.text {
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}
.content {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.text h1 {
  font-size: 85px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.text h5 {
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.text p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

@media screen and (max-width: 1180px) {
  .about {
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }
}

@media screen and (max-width: 650px) {
  .about .content img {
    margin-bottom: 35px;
  }
  .text h1 {
    font-size: 50px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 405px) {
  .about .content img {
    margin-bottom: 25px;
  }
  .text h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
